version: "3.9"

services:
  backend:
    container_name: backend
    build: .
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - backend_net
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  backend_net:
    driver: bridge
