services:
  backend:
    build:
      context: ../..
      dockerfile: infrastructure/docker/Dockerfile.backend
    container_name: backend_prod
    env_file:
      - ../../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: ../..
      dockerfile: infrastructure/docker/Dockerfile.frontend
    container_name: frontend_prod
    ports:
      - "3000:3000"
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: postgres_prod
    environment:
      POSTGRES_DB: learning_platform
      POSTGRES_USER: learning_user
      POSTGRES_PASSWORD: MulaiBeraksi2024
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
